.Servicios_container{
    // background-color: lightgreen;
    padding: 10px 2%;
    background-image: url('./../../img/pexels_fondo2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}
.Servicios_container h2{
    text-align: center;
    font-size: 42px;
    padding: 20px;
}
.Servicios_container_tarjetas{
    display: grid;
    padding: 30px 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}
.Servicios_tarjeta {
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.87);
    padding: 40px 20px;
    line-height: 2.8em;
}
.Servicios_tarjeta h3{
    text-align: center;
    font-size: 30px;
}
.Servicios_tarjeta p{
    font-size: 22px;
}
// .Servicios_tarjeta ul{
    
// }
.Servicios_tarjeta ul li{
    font-size: 22px;
}

@media screen and (max-width: 1023px){
    .Servicios_container{
        padding: 10px 2%;
    }
    .Servicios_container h2{
        font-size: 36px;
    }
    .Servicios_container_tarjetas{
        padding: 10px;
        grid-gap: 20px;
    }
    .Servicios_tarjeta {
        padding: 30px 10px;
        line-height: 2.7em;
    }
    .Servicios_tarjeta h3{
        font-size: 26px;
        margin-bottom: 15px;
    }
    .Servicios_tarjeta p{
        font-size: 20px;
    }
    .Servicios_tarjeta ul li{
        font-size: 20px;
    }
}
@media screen and (max-width: 767px){
    .Servicios_container h2{
        font-size: 32px;
    }
    .Servicios_container_tarjetas{
        padding: 10px 50px;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .Servicios_tarjeta {
        padding: 30px 40px;
        line-height: 2.2em;
    }
    .Servicios_tarjeta p{
        font-size: 20px;
    }
    .Servicios_tarjeta ul li{
        font-size: 20px;
    }
}
@media screen and (max-width: 480px){
    .Servicios_container{
        padding: 10px 2%;
    }
    .Servicios_container h2{
        font-size: 30px;
        padding: 20px 0px 10px 0px;
    }
    .Servicios_container_tarjetas{
        padding: 10px 10px;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .Servicios_tarjeta {
        padding: 20px 30px;
        line-height: 2em;
    }
    .Servicios_tarjeta h3{
        font-size: 24px;
    }
    .Servicios_tarjeta p{
        font-size: 16px;
    }
    .Servicios_tarjeta ul{
        margin-bottom: 0px;    
    }
    .Servicios_tarjeta ul li{
        font-size: 16px;
    }
}
@media screen and (max-width: 320px){
    .Servicios_container{
        padding: 10px 1%;
    }
    .Servicios_container h2{
        font-size: 24px;
        padding: 10px 0px 5px 0px;
    }
    .Servicios_container_tarjetas{
        padding: 5px;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .Servicios_tarjeta {
        padding: 15px 10px;
        line-height: 1.5em;
    }
    .Servicios_tarjeta h3{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .Servicios_tarjeta p{
        font-size: 14px;
        margin-bottom: 3px;
    }
    .Servicios_tarjeta ul{
        margin-bottom: 0px;    
    }
    .Servicios_tarjeta ul li{
        font-size: 14px;
    }
}