.Home_container {
  // background-color: rgb(226, 226, 194);
  // padding-top: 10px;
  background-color: #252525;
  padding: 10px 2% 10px 2%;
}
.img {
    text-align: center;
    margin: 0;
    padding: 0;
  }

.img_premium {
  width: 300px;
}

.carousel_container{
  // max-width: 1000px;
  // margin-left: auto;
  // margin-right: auto;
  // margin-top: 30px;
}

.carousel-item{
  width: 100%;
  height: 650px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 600px) {
  .carousel-item {
    height: 280px;
  }
}
.bg-arreglo {
  background-position: center center;
  // opacity: 0.8;
}
.bg-arreglo2 {
  background-position: center top;
  // opacity: 0.8;
}
.bg1 {
  background-image: url('../../img/Premium_portada.jpg');
}
.bg2 {
  background-image: url('../../img/Premium_portada2.jpg');
}
.bg3 {
  background-image: url(https://hxhfza.ch.files.1drv.com/y4mxT7zmR4_8kdNrnUliY95tHVBLE3aAu5_hUWgKQuFtiiPXpzSdb2Y_4Y5wmAXoDpAQdK2HWYfTfyY--zMr7tyaPMXsDe8uzTVrKZanH-CLMLCvggfDMyID5shScRrcxTaWDHBNXOe17cHSshYzmOjvDL5fgjtXA2gmM6tSSSwo6Lk20Cs3QYPGqAkH9ptnp3kktfI0nuODC6V_nFBOfItDA?width=1280&height=960&cropmode=none);
}