header {
    background-color:rgba(0,0,0,1);
    color: white;
    margin: 0;
    padding: 30px 0;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header h1 {
  background-color: rgba(255, 0, 0, 0.877);
  font-family: system-ui;
  font-size: 50px;
  width: 500px;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  transform: rotate(-2deg) skew(-3deg);
}

header h2 {
    font-family: system-ui;
    margin-top: 0px;
    padding-top: 0px;
    color: rgba(355, 355, 355, 1);
  }


.navbar{
  // width: 95vw;
  background-color:rgb(36, 34, 34);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar ul{
  margin: 0;
  padding: 0;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // border: 1px solid red;
  height: 50px;
  list-style: none;
}

.navbar ul a{
  font-size: 20px;
  text-decoration: none;
}
.navbar ul li{
  width: auto;
}
.navbar ul li a{
  padding: 5px 10px;
  font-weight: bold;
  // color: rgb(206, 154, 154)
  color: #cf4242;
}
.navbar ul a:hover {
  /* font-size: 22px; */
  color: rgb(255, 255, 255);
  background-color: rgba(0,0,0,0.7);
  flex-shrink: 0;
  // border-bottom: 1px solid gray;
  
  /* border-left: 1px solid gray;
  border-right: 1px solid gray; */
}