.Somos_container {
    display: flex;
    align-items: center;
    // background-color: lightblue;
    display: flex;
    padding: 50px 150px;
    margin: 0 auto;
}
.Somos_container figure{
    margin: 0;
}
.Somos_img {
    width: 500px;
    height: 650px;
    object-fit: cover;
    object-position: center;
    
}
.Somos_details {
    padding: 30px 20px 70px 20px;
    border: 2px solid gray;
    height: 650px;
}
.Somos_title {
   font-size: 40px;
   text-align: center;
   padding-bottom: 40px;
}
.Somos_p {
    font-size: 32px;   
}