.Somos_container {
    display: flex;
    align-items: center;
    background-color: lightblue;
    display: flex;
    padding: 50px 20px;
}
.Somos_img {
    width: 500px;
    height: 650px;
    object-fit: cover;
    object-position: center;
    
}
.Somos_p {
    font-size: 32px;
    padding: 30px 40px 70px 40px;
}